body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: url(bg_dark.png);
  /*background: url(bg.jpg);*/
  background-repeat: repeat;
  margin: 0;
  overflow-x: hidden;
}
.hidden {
  display: none;
}
#data {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20%;
  background: yellow;
  opacity: 0.75;
}
.connect-area,
.ready-area,
.game-end-area {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 50%;
  right: 50%;
  top: 25%;
  bottom: 50%;
}
.connect-area .connect-btn,
.ready-area .ready-btn,
.game-end-area {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 2em;
  transition: background-color 0.25s;
}
.game-end-area {
  top: 40%;
  left: 25%;
  right: 25%;
  bottom: 50%;
  font-size: 1.5em;
  flex-flow: column;
}
.connect-area .connect-btn.tapped,
.ready-area .ready-btn.tapped {
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: inset 5px -5px 40px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: inset 5px -5px 40px 0px rgba(255, 255, 255, 0.75);
  box-shadow: inset 5px -5px 40px 0px rgba(255, 255, 255, 0.75);
}
.ready-area .ready-btn.disabled,
.connect-area .connect-btn.disabled {
  background-color: rgba(255, 255, 255, 0.25);
  pointer-events: none;
}

#player-area {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
#player-area .triangle {
  display: flex;
  justify-content: center;

  -webkit-box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.7);

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 75px 50px;
  border-color: transparent transparent darkgrey transparent;
}
#player-area .triangle .triangle-nose {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 15px 10px;
  border-color: transparent transparent #4d4d4d transparent;
}
.tapable-area {
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;

  background-color: rgba(0, 0, 0, 0.33);
  border: 1px dashed white;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;

  transition: background-color 0.25s;
}
.tapable-area span {
  font-size: 1.75em;
  color: white;
  pointer-events: none;
  user-select: none;
}

.tapable-area.tap-area-stealth {
  bottom: 50%;
  right: 50%;
  top: 10%;
}
.tapable-area.tap-area-boost {
  bottom: 50%;
  left: 50%;
  top: 10%;
}
.tapable-area.tap-area-fire {
  top: 50%;
}
.tapable-area.tap-area-reset_orientation {
  top: 5%;
  bottom: 90%;
  font-size: 0.75em;
}

.tapable-area.tapped {
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: inset 5px -5px 40px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: inset 5px -5px 40px 0px rgba(255, 255, 255, 0.75);
  box-shadow: inset 5px -5px 40px 0px rgba(255, 255, 255, 0.75);
}

.tapable-area.disabled {
  background-color: rgba(255, 255, 255, 0.25);
}

.tapable-area.tapable-area-top {
  top: 10px;
  right: 10px;
  left: 75%;
  bottom: 0;
}

#feature-area {
  position: absolute;
  width: 100%;
  bottom: 0;
  min-height: 50px;
  margin-bottom: 25px;
  pointer-events: none;
  z-index: -1;
}
.detected-feature {
  background: red;
  margin: 10px 0 10px 0;
  margin-left: -10px;
  padding: 10px 20px 10px 20px;
  font-size: 1em;
  color: white;
  width: fit-content;
  width: -moz-fit-content;

  -webkit-box-shadow: 5px 5px 5px 0px rgba(144, 144, 144, 0.65);
  -moz-box-shadow: 5px 5px 5px 0px rgba(144, 144, 144, 0.65);
  box-shadow: 5px 5px 5px 0px rgba(144, 144, 144, 0.65);

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

#logger {
  z-index: 10;
  display: none;
  width: 100%;
  height: 100px;
  background: lightgray;
  color: black;
  overflow-y: scroll;
  position: absolute;
  bottom: 0;
  opacity: 0.75;
  font-size: 0.75em;
  padding: 5px;
}
#logger.visible {
  display: block;
}
